<header class="baseGridLayout layout">
  <nav class="nav">
    <a class="title" href="/">
      <h1>anjlean.life</h1>
    </a>
    <a href="/trips">Trips</a>
    <a href="/about">About</a>
  </nav>
  <div class="subtitle">Angela &amp; Lean’s travel blog</div>
</header>

<style>
  .layout {
    grid-template-rows: auto minmax(16px, max-content);
  }

  .nav {
    grid-row: 1 / span 1;
    grid-column: start / end;
    font-size: var(--medium-font-size);
    display: flex;
    align-items: baseline;
    gap: 24px;
    padding-top: 32px;
    overflow-x: auto;
  }

  .title {
    font-size: var(--large-font-size);
    margin-right: auto;
  }

  .subtitle {
    grid-row: 2 / span 1;
    grid-column: start / end;
    font-size: var(--medium-font-size);
    margin-top: 2px;
  }
</style>
