@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

*,
*::before,
*::after {
  all: unset;
  display: revert;
  box-sizing: border-box;
}

:root {
  --default-font: "Libre Baskerville", serif;
  --large-font-size: 22px;
  --medium-font-size: 16px;
  --regular-font-size: 14px;
  --paragraph-line-height: 20px;
  --grid-col-max-width: 56px;
  --grid-col-gap: 16px;
  font-family: var(--default-font);
  font-size: var(--regular-font-size);
  text-rendering: geometricPrecision;
}

@media (max-width: 600px) {
  :root {
    --grid-col-gap: 4px;
  }
}

a {
  cursor: pointer;
  text-underline-offset: 4px;
}
a:hover,
a:focus-visible {
  text-decoration: underline;
}

.baseGridLayout {
  display: grid;
  /* prettier-ignore-next-line */
  grid-template-columns:
    calc(max(0px, 50% - var(--grid-col-max-width) * 12))
    [start]
    repeat(12, [col from-col] minmax(0, 1fr) [col to-col])
    [end]
    calc(max(0px, 50% - var(--grid-col-max-width) * 12));
  column-gap: var(--grid-col-gap);
  width: 100%;
}
