@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

*,
*::before,
*::after {
  all: unset;
  display: revert;
  box-sizing: border-box;
}

:root {
  --default-font: "Libre Baskerville", serif;
  --large-font-size: 22px;
  --medium-font-size: 16px;
  --regular-font-size: 14px;
  --paragraph-line-height: 20px;
  --grid-col-max-width: 56px;
  --grid-col-gap: 8px;
  font-family: var(--default-font);
  font-size: var(--regular-font-size);
  text-rendering: geometricPrecision;
}

.baseGridLayout {
  display: grid;
  grid-template-columns: repeat(24, minmax(0, 1fr));
  column-gap: var(--grid-col-gap);
  max-width: calc(var(--grid-col-max-width) * 24);
  margin: 0 calc(max(32px, 50% - var(--grid-col-max-width) * 12));
}
