---
import { Image } from "astro:assets";

export interface Props {
  alt: string;
  imageMetadata: ImageMetadata;
  rowSpan: number;
  colSpan: number;
}

const { imageMetadata, alt, rowSpan, colSpan } = Astro.props;
---

<div
  class="photo"
  style={{
    gridColumnEnd: `${colSpan} span`,
    gridRowEnd: `${rowSpan} span`,
  }}
>
  <Image class="img" src={imageMetadata} alt={alt} width="400" height="400" />
</div>

<style>
  .photo {
    background: #eee;
  }

  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }
</style>
