---
import Header from "ui/header/header.astro";
const { title } = Astro.props;
---

<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>anjlean.life{title ? ` • ${title}` : ""}</title>
    <link rel="stylesheet" href="/base.css" />
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
