---
import Page from "components/page/page.astro";
import Article from "components/article/article.astro";
---

<Page>
  <Article>
    <span slot="description">Spring in Japan! This collection of images offers a glimpse into the country's captivating landscapes, vibrant cities, and cultural richness.</span>
  </Article>
</Page>
