---
import Article from "components/article/article.astro";
---

<Article url="/japan-2023">
  <span slot="description">
    Spring in Japan! This collection of images offers a glimpse into the
    country's captivating landscapes, vibrant cities, and cultural richness.
  </span>
</Article>
