---
import Article from "ui/article/article.astro";
import Photo from "ui/photo/photo.astro";
import content from "./content";
---

<Article url="/japan-2023">
  <span slot="description">
    {content.description}
  </span>
  <Fragment slot="gallery">
    {content.photos.map((item) => <Photo {...item} />)}
  </Fragment>
</Article>
