---
import Header from "components/header/header.astro";
---

<!doctype html>
<html>
  <head>
    <title>anjlean.life</title>
    <link rel="stylesheet" href="/base.css" />
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
